#logo {
 width: 15%;
 display: inline-block;
}

.axis path,
.axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.bar {
	fill: orange;
}

.bar:hover {
	fill: orangered ;
}
.area:hover {
	fill: #232359 ;
}


.d3-tip {
	line-height: 1;
	font-weight: bold;
	padding: 12px;
	background: rgba(0, 0, 0, 0.8);
	color: #fff;
	border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
	box-sizing: border-box;
	display: inline;
	font-size: 10px;
	width: 100%;
	line-height: 1;
	color: rgba(0, 0, 0, 0.8);
	content: "\25BC";
	position: absolute;
	text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
	margin: -1px 0 0 0;
	top: 100%;
	left: 0;
}


div .tooltip {
	position: absolute;
	text-align: center;
	width: 60px;
	height: 28px;
	padding: 2px;
	font: 12px sans-serif;
	background: lightsteelblue;
	border: 0px;
	border-radius: 8px;
	pointer-events: none;
}


.axis path,
.axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.area {
	fill: steelblue;
}

/*div {
	border: 1px solid black;
}*/

tr {
		border: solid 1px black;
		padding: 2px;
		border-collapse:collapse;
}
th {
		font-weight: bold;
}

.collapse {
border: none;
}

.del-button {
color: red;
}



.display-div {
/*width: 600px;
float:left;*/
/*display: none;*/

}

#bubble-display {
/*width: 600px;*/
/*float: top left;*/
}
.loading-display {
display: none;
}

.data-display {
display: none
}

.control-div {
/*width: 300px*/
/*float: top right;*/
display: none;
}



/*.tree-button {
display: none;
}*/

/*.display-div {
/*display: none;*/
}

#predict-display {
/*display: none;*/
}

#tree {
/*display: none;*/
}

#carts {
/*display: none;*/
}

#bubble-slider-div {
display: none;
}



#area-slider-div {
display: none;
}

#cart-buttons {
display: none;
}

.item-new {
	color: red;
}
#recommended {
display: none;
}

#cart-control {
display: none;
}

#tree-control {
display: none;
}

#delivery-display {
display: none;
}


#visualization-display {
display: none;
}

/*#tree-button-div {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  padding-top: 1rem;
  padding-bottom: 1rem;
  min-height: 1px;
}*/

#prediction-display {
display: none;
}
.show {
display: inline;
}

.item-table {
/*width: 600px;*/
}
.saved-item {
background-color: rgba(110, 214, 152, 0.52)
}

#saved-table tr {
color: rgba(92, 93, 93, 0.92);
}

#saved-table th {
color: black;
}

.description-td {
/*width: 400px;*/
}

.price-td {
/*width: 40px;*/
}

.del-td {
/*width: 60px;*/
}

.amazon {
/*width: 100px;*/
}

.cartsee-table {
	width: 85%;
	margin: auto;
	margin-bottom: 0px;
}

.table-title {
	margin-left: 7.5%
}

#header-wrap {
	margin-bottom: 0px;
}

.items-table {
	margin-bottom: 0px;

}

.progress {
	width: 60%;
}

.checkbox {
	padding: 8%;
}

/*
.expand {
float: right;
}*/
.form {
/*width: 200px;*/
}
/*#toggle-div {
padding: 20px; 0%;
}*/

.items-div {
display: none;
}

.header {
cursor:pointer;
/*display: inline block;*/
}

.control-div {
float: top right;
}







/* prediction tree styling */
.node {
cursor: pointer;
}

.node circle {
fill: #fff;
stroke: steelblue;
stroke-width: 1.5px;
}

.node text {
font: 10px sans-serif;
}

.link {
fill: none;
stroke: #ccc;
stroke-width: 1.5px;
}


path {
stroke: steelblue;
stroke-width: 2;
fill: none;
}

.axis path,
.axis line {
fill: none;
stroke: grey;
stroke-width: 1;
shape-rendering: crispEdges;
}

div.tooltip {
position: absolute;
text-align: center;
width: 60px;
height: 28px;
padding: 2px;
font: 12px sans-serif;
background: lightsteelblue;
border: 0px;
border-radius: 8px;
/*  pointer-events: none;    This line needs to be removed */

}
/*      */
/***end***/
