#logo {
 width: 15%;
 display: inline-block;
}

.axis path,
.axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.bar {
	fill: orange;
}

.bar:hover {
	fill: orangered ;
}



.d3-tip {
	line-height: 1;
	font-weight: bold;
	padding: 12px;
	background: rgba(0, 0, 0, 0.8);
	color: #fff;
	border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
	box-sizing: border-box;
	display: inline;
	font-size: 10px;
	width: 100%;
	line-height: 1;
	color: rgba(0, 0, 0, 0.8);
	content: "\25BC";
	position: absolute;
	text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
	margin: -1px 0 0 0;
	top: 100%;
	left: 0;
}


div .tooltip {
	position: absolute;
	text-align: center;
	width: 60px;
	height: 28px;
	padding: 2px;
	font: 12px sans-serif;
	background: steelblue;
	border: 0px;
	border-radius: 8px;
	pointer-events: none;
}


.axis path,
.axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.area {
	fill:#325d88 ;
}

/*div {
	border: 1px solid black;
}*/

tr {
		border: solid 1px black;
		padding: 2px;
		border-collapse:collapse;
}
th {
		font-weight: bold;
}

.collapse {
border: none;
}

.del-button {
color: red;
}



.display-div {
/*width: 600px;
float:left;*/
/*display: none;*/

}

#bubble-display {
/*width: 600px;*/
/*float: top left;*/
}
.loading-display {
display: none;
width: 50%;
margin: auto;
margin-top: 100px;
text-align: center;
}

.data-display {
display: none
}

.control-div {
/*width: 300px*/
/*float: top right;*/
display: none;
}



/*.tree-button {
display: none;
}*/

/*.display-div {
/*display: none;*/
}



#predict-display {
/*display: none;*/
}

#tree {
/*display: none;*/
}

#carts {
/*display: none;*/
}

#bubble-slider-div {
display: none;
}

#area-slider-div {
display: none;
}

#cart-buttons {
display: none;
}


#recommended {
display: none;
}

#cart-control {
display: none;
}

#tree-control {
display: none;
}

#delivery-display {
display: none;
}


#visualization-display {
display: none;
}

.btn-link {
		color: #rgb(90, 90, 92);

}

/*#tree-button-div {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  padding-top: 1rem;
  padding-bottom: 1rem;
  min-height: 1px;
}*/

#prediction-display {
display: none;
}
.show {
display: inline;
}

.item-table {
/*width: 600px;*/
}
/*.saved-item {
background-color: rgba(110, 214, 152, 0.52)
}*/

/*#saved-table tr {
color: rgba(92, 93, 93, 0.92);
}

#saved-table th {
color: black;
}*/


/*#saved-table thead {
	background-color: #3e3f3a;
 	color: #ffffff;
	}*/

.description-td {
/*width: 400px;*/
}

.price-td {
/*width: 40px;*/
}

.del-td {
/*width: 60px;*/
}

.amazon {
/*width: 100px;*/
}

#predicted-header {
	width: 85%;
}

.cartsee-table {
	width: 85%;
	margin: auto;
	margin-bottom: 0px;
}

.cartsee-table thead {
	background-color: #3e3f3a;
	color: #ffffff;
}

.table-title {
	margin-left: 8%
}

#header-wrap {
	margin-bottom: 0px;
}

.items-table {
	margin-bottom: 0px;

}

#fetching-div {
	width: 100%;
	height: 50px;
}
#fetching {
	font-size: 1.25em;
}

.ui-datepicker {
	background-color: #3e3f3a;
	width: 216px;
	height: auto;
	color: #ffffff;
  font-family: inherit;
	margin: 5px auto 0;
}

.ui-datepicker table {
	width: 100%;
}

.ui-datepicker a {
	text-decoration: none;
	color: #5bc0de;
}

.ui-datepicker-header {
  background-color: #3e3f3a;
	color: #ffffff;
	font-weight: bold;
	line-height: 30px;
	border-width: 1px 0 0 0;
	border-style: solid;
	border-color: #ffffff;
}

/*#order-thead {
	background-color: #3e3f3a;
 	color: #ffffff;
}*/
.toggle-button {
	/*background-color: #5bc0de;*/
}
.page-header {
	height: 120px;
	background-color: #3e3f3a;
}
 #cartsee-title-div {
	height: 78px;
}

.btn-xs {
	background-color: #29abe0;
}
.cartsee-title {
	font-size: 4em;
	margin-top: 30px;
	font-family: Lobster, cursive;
}
#logo-div {
	/*height: 5px;*/
}
#logo {
	margin-top: 30px;
	margin-left: -10px;
}
.cartsee-title {
	color: #ffffff;
}
.loading-subtitles {
  height: 60px;
	font-size: 1.25em;
	text-align: center;

}

.sorry-no-items {
margin-top: 200px;
}

.charts {
	height: 750px;
	text-align: center;
}

#area-chart {
	height: 400px;
}

.sub-info-bold {
	font-weight: bold;
}

.loading-data {
	height: 100px;
	font-size: 1.75em;
	text-align: center;
	padding-bottom: 5px;
	margin: auto;
}

#login {
	height: 800px;
}

#login-buttons {
	width: 40%;
	margin: 120px auto;
	text-align: center;
}
.login-button {
	margin: 7px 0;
}

.loaded {
	margin-top: 50px;
}

.loaded-data {
	height: 50px;
	margin-top: 5px;
	text-align: center;
	font-size: 1.5em;
}

.loaded-subtitles {
	text-align: center;
	margin-top: -10px;
}

#login-title {
	margin-bottom: 20px;
}
#progress-div {
	margin-top: 20px;
	margin-left: 10px;
	height: 100px;
}

.progress {
	width: 100%;
	background-color: #3e3f3a;
	margin-left: -30px;
}

.progress-bar-success {
	background-color: #29abe0;
}

.order-control {
	margin: auto;
}

#search-orders-div {
	width: 70%;
	margin: auto;
	text-align: center;
}


.checkbox {
	padding: 8%;
}

/*
.expand {
float: right;
}*/
.form {
/*width: 200px;*/
}
/*#toggle-div {
padding: 20px; 0%;
}*/

.items-div {
display: none;
}

.header {
cursor:pointer;
/*display: inline block;*/
}

.slider-nums {
	padding-top: 5px;
	font-size: 1.25em;
}


.slider {
	margin-top: 10%;
}

.sliders {
	margin-top: 10%;
	margin-left: 7%;
	text-align: center;
}
#max-price {
	margin-left: 10px;
}
.chart-control-buttons {
	margin-top: 25%;
	margin-left: 22%;
	/*margin: auto;*/
}
/*prediction tree styling*/

.node {
  cursor: pointer;
}

#tree-display .node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}




.node text {
font: 10px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

/*    */



.node text {
  font: 10px sans-serif;
}


path {
stroke: #325d88;
stroke-width: 2;
fill: none;
}



.axis path,
.axis line {
fill: none;
stroke: grey;
stroke-width: 1;
shape-rendering: crispEdges;
}

div.tooltip {
position: absolute;
text-align: center;
width: 60px;
height: 28px;
padding: 2px;
font: 12px sans-serif;
background: steelblue;
border: 0px;
border-radius: 8px;

}
