<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Cartsee | Predict your Amazon Fresh cart</title>



    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel='stylesheet' href='http://ricostacruz.com/nprogress/nprogress.css'>
    <link rel="stylesheet" href="/static/bootstrap-slider.css">
    <link rel="stylesheet" href="/static/cartsee.css">



  </head>

  <body>
    <div class="container">
      <div class="row" id="header-div">
        <div class="col-xs-12 page-header">
          <h1>Cartsee</h1>
        </div>
      </div>
      <div class="row" id="main">
        {% block content %} put your content here {% endblock %}
      </div>
    </div>
  </body>

</html>
