{% extends 'base.html' %}
{% block content %}


<div class="col-xs-12 cartsee">
  <div class="loading-display show">
    <div class="row">
      <div id="fetching-div" class="col-xs-12">
        <h4 id="fetching"></h4>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-3 loading-data" id="numorders-display"></div>
      <div class="col-xs-3 loading-data" id="quantity-display"></div>
      <div class="col-xs-5 loading-data" id="total-display"></div>
    </div>
    <div class="row">
      <div class="col-xs-3 loading-subtitles"><p>Number of orders</p></div>
      <div class="col-xs-3 loading-subtitles"><p>Number of items</p></div>
      <div class="col-xs-5 loading-subtitles"><p>Order totals</p></div>
    </div>
    <div class="row">
      <div class="col-xs-12" id="progress-div">
        <div class="progress" id="percent-display"></div>
      </div>
    </div>
  </div>



  <div class="row @@data data-display">

    <div class="col-xs-8 @@dash">
      <div class="btn-group btn-group-justified toggle" role="group" id="toggle-div">
        <div class="btn-group" role="group">
          <button class="btn btn-info toggle-button" id="deliv">See all orders</button>
        </div>
        <div class="btn-group" role="group">
          <button class="btn btn-info toggle-button" id="viz">Visualize order history</button>
        </div>
        <div class="btn-group" role="group">
          <button class="btn btn-info toggle-button" id="cart">Predict your cart</button>
        </div>
      </div>
      <div class="@@display">
        <div class="main-display-div" id="delivery-display">
          <h3 class="table-title">Your order history</h3>
          <table class="table cartsee-table">
            <thead id="order-thead">
              <tr class="row">
                <th class="col-xs-4">Order number</th>
                <th class="col-xs-3">Delivery date</th>
                <th class="col-xs-3">Delivery time</th>
                <th class="col-xs-2">Total</th>
              </tr>
            </thead>
          </table>

        </div>
        <div class="main-display-div" id="visualization-display">
          <div class="@@bubble display-div" id="bubble-display">
            <div id="bubble-info"></div>
            <div class="charts" id="bubble-chart"></div>
            <div id="bubble-sub-info"></div>
          </div>
          <div class="@@area display-div" id="area-display">
            <div id="area-info"></div>
            <div class="charts" id="area-chart"></div>
            <div id="area-sub-info"></div>
          </div>
          <div class="@@bar display-div" id="bar-display">
            <div id="bar-info"></div>
            <div class="charts" id="bar-chart"></div>
          </div>
        </div>
        <div class="main-display-div" id="#prediction-display">
          <div class="predict" id="carts">
            <div class="@@text"></div>
            <div class="@@table display-div" id="predict-display">
              <div class="row" id="predicted-header">
                <div id="predict-title" class="table-title col-xs-6"></div>
                <div class="col-xs-2" id="tree-button-div"></div>
              </div>
              <table class="table cartsee-table" id='saved-table'></table>
            </div>
          </div>
          <div class="predict" id="tree">
            <div class="@text"></div>
            <div class="@@chart" id="tree-display"></div>
          </div>
        </div>
      </div>
    </div>


    <div class="col-xs-4 @@control">
      <div class="order-control control-div" id="deliv-control">
        <div id="search-orders-div">
          <div id="search-orders-title">
            <h4>Click order row to see line items or search by item.</h4>
          </div>
          <div class="orders-search-field">
              <input type="text" id="search" placeholder="Filter orders by item">
          </div>
        </div>
        <div class="loaded">
          <div class="row">
            <div class="col-xs-12 loaded-data" id="numorders-loaded"></div>
          </div>
          <div class="row">
            <div class="col-xs-12 loaded-subtitles"><p>Number of orders</p></div>
          </div>
          <div class="row">
            <div class="col-xs-12 loaded-data" id="quantity-loaded"></div>
          </div>
          <div class="row">
            <div class="col-xs-12 loaded-subtitles"><p>Number of items</p></div>
          </div>
          <div class="row">
            <div class="col-xs-12 loaded-data" id="total-loaded"></div>
          </div>
          <div class="row">
            <div class="col-xs-12 loaded-subtitles"><p>Order totals</p></div>
          </div>
        </div>
      </div>

      <div class="col-xs-12 control-div" id="chart-control">
        <div class="btn-group-vertical  chart-control-buttons" role="group">
          <div class="btn-group chart-grouped-button" role="group">
            <button class='btn btn-default test-button chart-button' id='bubble-button'>Items by price and quantity</button>
          </div>
          <div class="btn-group chart-grouped-button" role="group">
            <button class='btn btn-default chart-button' id='area-button'>Deliveries over time</button>
          </div>
          <div class="btn-group chart-grouped-button" role="group">
            <button class='btn btn-default chart-button' id='bar-button'>Deliveries by weekday</button>
          </div>
        </div>

        <div class="sliders">
          <div class="col-xs-12 slider" id="bubble-slider-div">
            <div class="row">
              <div class="col-xs-12">
                <label class="bubble-label slider-label"><h4>Filter by price range</h4>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-2" id="min-price"><p class="slider-nums">$0</p></div>
              <div class="col-xs-6">
                <input id="bubble-price" style="width: 150px" type="text" class="span2 slider-input bubble-slider" value="">
              </div>
              <div class="col-xs-3" id="max-price"></div>
            </div>
            </label>
            <div class="row">
              <div class="col-xs-12">
                <label class="bubble-label slider-label"><h4>Filter by quantity range</h4>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-2" id="min-qty"><p class="slider-nums">0</p></div>
              <div class="col-xs-6">
                <input id="bubble-quantity" style="width: 150px" type="text" class="span2 slider-input bubble-slider" value="">
              </div>
              <div class="col-xs-3" id="max-qty"></div>
            </label>
          </div>

          <div class="slider" id="area-slider-div">
            <label class="area-label slider-label"><h4>Filter by date range</h4>
              <b id="min-date"></b><input id="area-date" style="width: 150px" type="text" class="span2 slider-input area-slider" value=""><b id="max-date"></b>
            </label>
          </div>
        </div>
      </div>
      <div class="@@predict-control control-div" id="predict-control">
        <div class="controls" id="cart-control">
          <div class="in-cart-control" id="cart-buttons">
            <div class="make-prediction" id="before">
              <div class="date">
                <form id="date-form">
                  <div class="row">
                    <div class="col-xs-6">
                    <label for="date-input" class="control-label"></label>
                        <input type="text" class="form-control" id="date-input" style="width: 150px" name="cart_date" readonly="readonly" placeholder="Choose delivery date"><br>
                    </div>
                    <div class="col-xs-6">
                      <button type="submit" class="btn btn-default" id="predict-submit" disabled=true>Predict my next order</button>
                    </div>
                  </div>
                    <div class="row">
                      <div class="col-xs-6">
                      <div class="checkbox" id="checkbox-div">
                        <label class='keep-saved'>
                          <input type="checkbox" id="keep-saved" name="keep_saved" value="yes">Keep current items<br>
                        </label>
                      </div>
                    </div>
                  </div>
                </form>
            </div>
          </div>
          <div class="row" id="recommended-header">
            <div class="col-xs-6 recommended-header-div" id="recommended-title"></div>
            <div class="col-xs-6 recommended-header-div" id="recommended-search"></div>
          </div>
          <div class="in-cart-control" id="recommended">
            <div class="@@scrolling">
              <table class="table" id='control-table'></table>
            </div>
          </div>
        </div>
      </div>
      <div class="controls" id="tree-control">
        <button id="return-to-cart">Return to carts</button>
      </div>
      </div>
    </div>
  </div>
</div>

<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
<script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="http://d3js.org/d3.v3.js"></script>
<script src='http://ricostacruz.com/nprogress/nprogress.js'></script>
<script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>
<script src="/static/bootstrap-slider.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.min.js"></script>
<script src="/static/freshstats.js"></script>



{% endblock %}
