{% extends 'base.html' %}
{% block content %}


<div class="col-md-12 @@cartsee">
  <div class="row @@loading loading-display show">
    <div id="total-display"></div>
    <div id="quantity-display"></div>
    <div id="numorders-display"></div>
    <div class="progress" id="percent-display">
      <span class="sr-only">40% Complete (success)</span>
    </div>
  </div>

  <div class="row @@data data-display">


    <div class="col-md-8 @@dash">
      <div class="btn-group btn-group-justified @@toggle" role="group" id="toggle-div">
        <div class="btn-group" role="group">
          <button class="btn btn-default toggle-button" id="deliv">See all deliveries</button>
        </div>
        <div class="btn-group" role="group">
          <button class="btn btn-default toggle-button" id="viz">Visualize spending history</button>
        </div>
        <div class="btn-group" role="group">
          <button class="btn btn-default toggle-button" id="cart">Predict your cart</button>
        </div>
      </div>
      <div class="@@display">
        <div class="main-display-div" id="delivery-display">
          <h2>Your delivery history</h2>
        </div>
        <div class="main-display-div" id="visualization-display">
          <div class="@@bubble display-div" id="bubble-display">
            <div id="bubble-info"></div>
            <div id="bubble-chart"></div>
          </div>
          <div class="@@area display-div" id="area-display">
            <div id="area-info"></div>
            <div id="area-chart"></div>
          </div>
          <div class="@@bar display-div" id="bar-display">
            <div id="bar-info"></div>
            <div id="bar-chart"></div>
          </div>
        </div>
        <div class="main-display-div" id="#prediction-display">
          <div class="predict" id="carts">
            <div class="@@text"></div>
            <div class="@@table display-div" id="predict-display">
              <table class="table" id='saved-table'></table>
              <table class="table" id='predict-table'></table>
            </div>
          </div>
          <div class="predict" id="tree">
            <div class="@text"></div>
            <div class="@@chart" id="tree-display"></div>
          </div>
        </div>
      </div>
    </div>


    <div class="col-md-4 @@control">
      <div class="@@order-control control-div" id="deliv-control">
        <div class="@@search-orders">
          <h4>Click the order to see line items or search by item.</h4>
          <input type="text" id="search" placeholder="Type to filter orders by item">
        </div>
        <div class="loaded"></div>
      </div>

      <div class="@@chart-control control-div" id="chart-control">
        <div class="@@buttons-box">
          <button class='test-button chart-button' id='bubble-button'>Items by price and quantity</button>
          <button class='chart-button' id='area-button'>Deliveries over time</button>
          <button class='chart-button' id='bar-button'>Deliveries by weekday</button>
        </div>
        <div class="sliders">
          <div class="slider" id="bubble-slider-div">
            <label class="bubble-label slider-label">Filter by price range:
              <b id="min-price">$0</b></script><input id="bubble-price" type="text" class="span2 bubble-slider" value=""><b id="max-price"></b>
            </label>
            <label class="bubble-label slider-label">Filter by quantity range:
              <b id="min-qty">0</b><input id="bubble-quantity" type="text" class="span2 bubble-slider" value=""><b id="max-qty"></b>
            </label>
          </div>
          <div class="slider" id="area-slider-div">
            <label class="area-label slider-label">Filter by date range:
              <b id="min-date"></b><input id="area-date" type="text" class="span2 area-slider" value=""><b id="max-date"></b>
            </label>
          </div>
        </div>
      </div>
      <div class="@@predict-control control-div" id="predict-control">
        <div class="controls" id="cart-control">
          <div class="in-cart-control" id="cart-buttons">
            <div class="make-prediction" id="before">
              <div class="date">
                  <form id="date-form">
                    <div class="row">
                      <div class="col-md-6">
                      <label for="date-input" class="control-label"></label>
                          <input type="text" class="form-control" id="date-input" name="cart_date" readonly="readonly" placeholder="Enter your delivery date"><br>
                      </div>
                        <div class="col-md-6">
                        <div class="checkbox" id="checkbox-div">
                          <label class='keep-saved'>
                            <input type="checkbox" id="keep-saved" name="keep_saved" value="yes">Keep current items<br>
                          </label>
                        </div>
                      </div>
                    </div>
                      <div class="row">
                        <div class="col-md-6">
                          <button type="submit" class="btn btn-default" id="predict-submit" disabled=true>Predict my next order</button>
                        </div>
                        <div class="col-md-6" id="tree-button-div"></div>
                      </div>
                  </form>
            </div>
          </div>
          <div class="row" id="recommended-header">
            <div class="col-md-6 recommended-header-div" id="recommended-title"></div>
            <div class="col-md-6 recommended-header-div" id="recommended-search"></div>
          </div>
          <div class="in-cart-control" id="recommended">
            <div class="@@scrolling">
              <table class="table" id='control-table'></table>
            </div>
          </div>
        </div>
      </div>
      <div class="controls" id="tree-control">
        <button id="return-to-cart">Return to carts</button>
      </div>
      </div>
    </div>
  </div>
</div>

<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>

<script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
<!-- Optional theme -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="http://d3js.org/d3.v3.js"></script>
<script src='http://ricostacruz.com/nprogress/nprogress.js'></script>
<script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>
<script src="/static/bootstrap-slider.js"></script>
<script src="/static/freshstats.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.min.js"></script>



{% endblock %}
